footer.main-footer
  div(class="pull-right hidden-xs") <b><a href="http://www.fb.com/softsed">Softsed-SimpleAdminLTE V 1.0</a></b> 
  strong <a href="http://almsaeedstudio.com">Almsaeed Studio V 2.3.11</a>
