html  
  head
    title=title
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible",content="IE=edge")
    meta(content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no", name="viewport")
    link(rel="stylesheet",href="/bootstrap/css/bootstrap.min.css")
    link(rel="stylesheet",href="/fonts/font-awesome.min.css")
    link(rel="stylesheet",href="/fonts/ionicons.min.css")
    link(rel="stylesheet",href="/dist/css/AdminLTE.css")
    link(rel="stylesheet",href="/dist/css/skins/_all-skins.min.css")  
    block content
    
    
    
    
    
    script(src="/plugins/jQuery/jquery-2.2.3.min.js")
    script(src="/bootstrap/js/bootstrap.min.js")
    script(src="/plugins/slimScroll/jquery.slimscroll.min.js")
    script(src="/plugins/fastclick/fastclick.js")
    script(src="/dist/js/app.min.js")
    script(src="/dist/js/demo.js")
